  body{
    background-color: #ECECEC;
  }
@media only screen and (max-width : 480px){
  
  header{
    height: 60px;
    background-color: #745ED2;
    position:fixed;
    width: 100%;
    z-index: 5;
  }
  #search{
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 35px;
    padding-left: 20px;
    margin-top: 3%;
  }

  .banner-section{
    margin-top: 80px;
  }
  .banner{
    height: 160px;
    background-color: transparent;
    border-radius: 10px;
  }
  .banner img{
    border-radius: 10px;
  }

  .sort-section{
    margin-top: 20px;
  }
  .sort{
    background-color: #fff;
    border-radius: 10px;
    height: 75px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  /* List Produk */
  /* #container-produk{
    margin-bottom: 100px;    
  } */
  #list-produk{
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #fff;
    padding: 0px;
    padding-top: 30px;
    border-radius: 10px;
  }
  /* produk */
  .produk {
    margin-bottom: 20px;
  }
  .produk img{
    border-radius: 10px;
  }
  .produk p {
    margin-top: -10px;
  }
  .produk a{
    color: #333;
  }
  .produk  a:hover{
    color: #745ED2;
    text-decoration: none;
  }

  /* sort  */
  #sort-button{
    margin-top: -15px;
  }

  #sorting{
    margin-left: -20px;
    margin-top: 5px;
    background-color: grey;
    padding: 6px;
    border-radius: 10px;
  }

  #inlineFormCustomSelectPref{
    border: 2px solid #745ED2;
    border-radius: 10px;
  }
  #inlineFormCustomSelectPref option{
    background-color: #fff;
  }

  /* submit button */
  #submit{
    background: linear-gradient(270deg, #5A3BDF 1.79%, rgba(158, 113, 242, 0.260417) 184.36%, rgba(58, 19, 229, 0) 184.37%);
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    margin-left: -20px;
  }

  /* footer */
  .footer{
    width: 100%;
    height: 50px;
    background-color: #745ED2;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    color: #fff;
    text-align: center;
    line-height: 40px;
  }

  .circle-cart{
    position: fixed;
    background-color: #8963D3;
    z-index: 20;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    margin-left: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transform:translate(-50%, -50%);
  }
  .circle-cart:hover{
    cursor: pointer;
  }


  .footer .row p{
    margin-bottom: -13px;
    margin-top: -5px;
  }

  .footer .row p:hover,
  .footer .row span:hover{
    cursor: pointer;
  }

  .footer .row a{
    color: #fff;
    text-decoration: none;
  }
  
}
@media only screen and (max-width : 420px){

}
@media only screen and (max-width : 360px){
  #sorting img{
    height: 20px;
  }

  .produk p{
    font-size: 13px;
  }
}